<div class="row">
    <div class="col-md-12">
        <fieldset>
            <legend>
                {{ 'offices' | translate }}
                <button ng-click="createNew()" class="btn btn-success btn-sm pull-right">
                    <i class="fa fa-plus"></i>
                </button>
            </legend>
            <table class="table table-condensed table-striped" datatable="ng">
                <thead>
                <tr>
                    <th translate>name</th>
                    <th translate>organization</th>
                    <th style="text-align: center; width: 75px;"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="office in offices">
                    <td>{{office.name}}</td>
                    <td>{{ findOrganizationWithId(office.organizationId).name }}</td>
                    <td>
                        <button ng-click="edit(office.id)" class="btn btn-warning btn-sm">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button ng-click="remove(office.id)"
                                confirmation-needed="{{'remove.confirmation' | translate: '{name: office.name}'}}"
                                class="btn btn-danger btn-sm">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>
