<div class="row">
    <div class="col-md-12">
        <fieldset>
            <legend>
                {{ 'organizations' | translate }}
                <button ng-click="newOrganization()" class="btn btn-success btn-sm pull-right">
                    <i class="fa fa-plus"></i>
                </button>
            </legend>

            <table class="table table-condensed table-striped" datatable="ng">
                <thead>
                <tr>
                    <th translate>name</th>
                    <th translate>account</th>
                    <th style="text-align: center; width: 75px;"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="organization in organizations">
                    <td>{{organization.name}}</td>
                    <td>{{ findAccountWithId(organization.accountId).name }}</td>
                    <td>
                        <button ng-click="edit(organization.id)" class="btn btn-warning btn-sm">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button ng-click="remove(organization.id)"
                                confirmation-needed="{{'remove.confirmation' | translate: '{name: organization.name}'}}"
                                class="btn btn-danger btn-sm">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>
