<div class="form-box" id="login-box">
    <div class="header" translate>create.your.account</div>
    <form name="registerForm" novalidate ng-submit="register(formData)">
        <div class="body bg-gray">

            <div class="form-group">
                <label translate>user.name</label>
                <input type="text" name="name" ng-model="formData.name" class="form-control" placeholder="{{ 'user.name' | translate }}" required ng-pattern="/^[a-z0-9\.]{4,20}$/"/>

                <div class="error-container" ng-show="registerForm.name.$invalid && registerForm.submitted">
                    <span class="error" ng-show="registerForm.name.$error.required" translate>required</span>
                    <span class="error" ng-show="registerForm.name.$error.pattern" translate>user.name.validation.pattern</span>
                </div>
            </div>

            <div class="form-group">
                <label translate>user.display.name</label>
                <input type="text" name="displayName" ng-model="formData.displayName" class="form-control" placeholder="{{ 'user.display.name' | translate }}" ng-maxlength="64"/>
                <div class="error-container" ng-show="registerForm.displayName.$invalid && registerForm.submitted">
                    <span class="error" ng-show="registerForm.displayName.$error.maxlength">
                        {{ 'max.field.limit' | translate: '{max: 64}'}}
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label translate>email</label>
                <input type="email" name="email" ng-model="formData.email" class="form-control" placeholder="{{ 'email' | translate }}" required/>

                <div class="error-container" ng-show="registerForm.email.$invalid && registerForm.submitted">
                    <span class="error" ng-show="registerForm.email.$error.required" translate>required</span>
                    <span class="error" ng-show="registerForm.email.$error.email" translate>invalid.mail</span>
                </div>

            </div>

            <div class="form-group">
                <label translate>password</label>
                <input type="password" name="password" ng-model="formData.password" class="form-control" placeholder="{{ 'password' | translate }}" required ng-minlength="6"/>

                <div class="error-container" ng-show="registerForm.password.$invalid && registerForm.submitted">
                    <span class="error" ng-show="registerForm.password.$error.required" translate>required</span>
                    <span class="error" ng-show="registerForm.password.$error.minlength">{{ 'min.field.limit' | translate: '{min: 6}'}}</span>
                </div>
            </div>

            <div class="form-group">
                <label translate>password.retype</label>
                <input type="password" name="password2" ng-model="formData.password2" class="form-control" placeholder="{{ 'password.retype' | translate }}" required pw-check="formData.password"/>
                <div class="error-container" ng-show="registerForm.password2.$invalid">
                    <span class="error" ng-show="registerForm.password2.$error.pwmatch" translate>password.dont.match</span>
                </div>
            </div>

        </div>
        <div class="footer">
            <button type="submit" class="btn bg-olive btn-block" translate>register</button>
            <a href="/login" class="text-center" translate>already.got.an.account</a>
        </div>
    </form>
</div>