<div class="row">
    <div class="col-md-12">
        <fieldset>
            <legend>{{editing ? 'Editando cliente' : 'Novo cliente'}}</legend>
            <form name="customerForm" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" name="id" ng-model="entity.id"/>

                        <div class="form-group">
                            <label class="control-label" translate>name</label>
                            <input type="text" class="form-control" name="name" ng-model="entity.name" required/>

                            <div class="error-container" ng-show="customerForm.name.$invalid && customerForm.submitted">
                                <span class="error" ng-show="customerForm.name.$error.required" translate>required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" translate>office</label>
                            <select name="officeId" ng-model="entity.officeId" class="form-control"
                                    ng-options="office.id as office.name for office in offices" required>
                            </select>
                            <div class="error-container" ng-show="customerForm.officeId.$invalid && customerForm.submitted">
                                <span class="error" ng-show="customerForm.officeId.$error.required" translate>required</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-danger btn-flat" ng-click="closeThisDialog()">
                            <i class="fa fa-remove"></i>
                            {{'cancel' | translate}}
                        </button>
                        <button type="submit" class="btn btn-success btn-flat" ng-click="save(entity, customerForm)">
                            <i class="fa fa-save"></i>
                            {{'save' | translate}}
                        </button>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>