<div class="row">
    <div class="col-md-12">
        <fieldset>
            <legend>
                {{ 'documents' | translate }}

                <button ng-click="createNew()" class="btn btn-success btn-sm pull-right">
                    <i class="fa fa-plus"></i>
                </button>
            </legend>
            <table class="table table-condensed table-striped" datatable="ng">
                <thead>
                <tr>
                    <th translate>name</th>
                    <th translate>customer</th>
                    <th translate>created.at</th>
                    <th translate>due.date</th>
                    <th style="text-align: center; width: 100px;"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entity in entitys">
                    <td>{{entity.document.name}}</td>
                    <td>{{ entity.customer.name }}</td>
                    <td>
                        <moment value="{{ entity.document.createdAt }}" date-time></moment>
                    </td>
                    <td>
                        <moment value="{{ entity.document.dueDate }}" date></moment>
                    </td>
                    <td>
                        <a href="{{fileUrl(entity.document.id)}}" target="_blank" class="btn btn-success btn-sm">
                            <i class="fa fa-cloud-download"></i>
                        </a>
                        <button ng-click="edit(entity.document.id)" class="btn btn-warning btn-sm">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button ng-click="remove(entity.document.id)"
                                confirmation-needed="{{'remove.confirmation' | translate: '{name: entity.name}'}}"
                                class="btn btn-danger btn-sm">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>
