@()

    <aside class="left-side sidebar-offcanvas">
            <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
                <!-- Sidebar user panel -->
                <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="{{ 'search.placeholder' | translate }}"/>
                    <span class="input-group-btn">
                        <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="active">
                    <a href="#">
                        <i class="fa fa-home"></i> <span>{{ 'main.page' | translate }}</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-folder"></i> <span>{{ 'documents' | translate }}</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-suitcase"></i> <span>{{ 'customers' | translate }}</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-users"></i> <span>{{ 'users' | translate }}</span>
                    </a>
                </li>
            </ul>
        </section>
            <!-- /.sidebar -->
    </aside>