<header class="header">
    <a href="index.html" class="logo">
        <i class="fa fa-file"></i>
        {{ 'brand.label' | translate }}
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
               <li class="dropdown messages-menu" ng-controller="NotificationsCtrl">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope"></i>
                        <span class="label label-success">{{newCount}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">
                            {{ 'you.have.x.messages' | translate: '{messages: newCount}'}}
                                <i class="fa fa-refresh pull-right" ng-click="refresh();" style="cursor:pointer; color: #428BCA;"></i>
                        <li style="cursor:default;">
                            <ul class="menu" style="cursor:default;">

                                <li ng-repeat="n in notifications" style="cursor:default;">
                                    <a href="#" style="cursor:default;">
                                        <div class="pull-left">
                                            <div class="img-circle avatar-border">
                                                <i class="fa fa-file"></i>
                                            </div>
                                        </div>
                                        <h4>
                                            DocStore
                                            <small>
                                                <i class="fa fa-eye" ng-show="!n.readDate" ng-click="markAsRead(n);" style="cursor:pointer; color: #428BCA;"></i>
                                                <i class="fa fa-clock-o"></i>
                                                5 mins
                                            </small>
                                        </h4>
                                        <p>{{ n.message }}</p>
                                    </a>
                                </li>
                                <!--<li>
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="@routes.Assets.versioned('images/bears/brown-bear.jpg')" class="img-circle avatar-border" alt="polar-bear"/>
                                        </div>
                                        <h4>
                                            {{ 'brown.bear' | translate }}
                                            <small><i class="fa fa-clock-o"></i> 48 mins</small>
                                        </h4>
                                        <p>{{ 'brown.bear.message' | translate }}</p>
                                        <div class="text-center">
                                            <img src="http://www.elvincountry.com/travel-images/11707261.jpg" class="attachment">
                                        </div>
                                    </a>
                                </li>-->
                            </ul>
                        </li>
                        <li class="footer"><a href="#">{{ 'see.all.messages' | translate }}</a></li>
                    </ul>
                </li>
                <!--                 &lt;!&ndash; Notifications: style can be found in dropdown.less &ndash;&gt;
                                <li class="dropdown notifications-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-warning"></i>
                                        <span class="label label-warning">1</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="header">{{ 'you.have.x.notifications' | translate: '{notifications: 1}'}}</li>
                                        <li>
                                            &lt;!&ndash; inner menu: contains the actual data &ndash;&gt;
                                            <ul class="menu">
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-warning danger"></i>
                                                        <div class="dropdown-alert-message">
                                                            {{ 'document.due.date.alert' | translate }}
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="footer"><a href="#">View all</a></li>
                                    </ul>
                                </li>-->
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle navbar-avatar-parent" data-toggle="dropdown">
                        <img src="https://getsatisfaction.com/images/user_default_large.png" class="img-circle navbar-avatar" alt="User Image" />
                    </a>
                    <ul class="dropdown-menu user-dropdown">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="https://getsatisfaction.com/images/user_default_large.png" class="img-circle" alt="User Image" />
                            <p>
                                {{ currentUserName() }}
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
<!--                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">{{ 'my.profile' | translate }}</a>
                            </div>-->
                            <div class="pull-right" ng-controller="LoginCtrl">
                                <a href="#" class="btn btn-default btn-flat" ng-click="logout()">{{ 'sign.out' | translate }}</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>