@()

<div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        @fragments.menu()
        <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
            <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{ 'main.page' | translate }}
                <small>{{ 'dashboard' | translate }}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> {{ 'main.page' | translate }}</a></li>
            </ol>
        </section>

            <!-- Main content -->
        <section class="content">
                <!-- Main row -->
            <div class="row">
                <div class="col-md-4">
                    <div class="box box-solid bg-navy">
                        <div class="box-header">
                            <h3 class="box-title">Nulla</h3>
                        </div>
                        <div class="box-body">
                            <p>
                                Nulla elit mi, pellentesque quis gravida venenatis, rutrum non nibh. Vestibulum sit amet purus massa. Praesent commodo eu lacus non mollis. In hendrerit fringilla vestibulum. Phasellus maximus egestas sem eget congue. Nunc luctus est sem, ac fermentum ligula faucibus ac. Nam vestibulum nisi eu hendrerit bibendum. Vivamus gravida viverra leo id tempor. Pellentesque cursus dictum lectus non dictum. Etiam ac magna ut magna lobortis volutpat. Aenean sodales dolor at lorem sagittis, nec fermentum arcu porttitor. In tincidunt semper molestie. Phasellus ac tellus et mi tempus varius et ut diam. Mauris suscipit pulvinar nulla sed sodales. Duis euismod lacus a sem dignissim, vitae luctus mi ultricies. Quisque vel libero quam.                            </p>
                        </div><!-- /.box-body -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-solid bg-blue">
                        <div class="box-header">
                            <h3 class="box-title">Etiam</h3>
                        </div>
                        <div class="box-body">
                            <p>
                                Etiam metus justo, varius ut viverra in, suscipit eu orci. Pellentesque egestas sem id orci tempor efficitur. Nunc in arcu in ante suscipit hendrerit vitae eu tortor. Nam porttitor euismod elit, egestas volutpat erat lacinia non. Ut tempus erat a enim molestie, in molestie odio ultricies. Suspendisse tortor tortor, pharetra id sagittis accumsan, venenatis eu ipsum. Nam imperdiet nisi at ultricies egestas. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras tincidunt libero in nisi blandit, at ullamcorper ante eleifend. Suspendisse tincidunt iaculis orci, sed euismod magna imperdiet in.
                            </p>
                        </div><!-- /.box-body -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-solid bg-aqua">
                        <div class="box-header">
                            <h3 class="box-title">Lorem</h3>
                        </div>
                        <div class="box-body">
                            <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla eu purus et egestas. In hac habitasse platea dictumst. Integer dapibus mattis nulla, a ultrices massa viverra nec. Vivamus non tortor nulla. Sed aliquet ipsum ante, non dictum nisl imperdiet id. Suspendisse et sodales diam. Vestibulum facilisis risus vitae porta imperdiet. Integer nec lacus eget sem varius eleifend. Phasellus magna neque, luctus auctor ligula ut, semper ornare erat.
                            </p>
                        </div><!-- /.box-body -->
                    </div>
                </div>
            </div><!-- /.Main row -->
        </section><!-- /.content -->
    </aside><!-- /.right-side -->
</div> <!-- ./wrapper -->