@(title: String, bodyClass: String = "")(content: Html)

<!DOCTYPE html>

<html ng-app="docstore">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">        
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/font-awesome/css/font-awesome.css")">        
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/ionicons/css/ionicons.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("vendor/AdminLTE-master/css/AdminLTE.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    </head>
    <body class="skin-black @bodyClass">
        @content

        <script src="@routes.Assets.versioned("lib/jquery/jquery.js")" type="application/javascript"></script>
        <script src="@routes.Assets.versioned("lib/angularjs/angular.js")" type="application/javascript"></script>
        <script src="@routes.Assets.versioned("lib/angular-translate/angular-translate.js")" type="application/javascript"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")" type="application/javascript"></script>
        <script src="@routes.Assets.versioned("vendor/AdminLTE-master/js/AdminLTE/app.js")" type="application/javascript"></script>

        <script src="@routes.Application.jsRoutes" type="application/javascript" ></script>
        <script src="@routes.Assets.versioned("src/app.js")" type="application/javascript"></script>
        <script src="@routes.Assets.versioned("src/i18n/messages.pt.js")" type="application/javascript"></script>
        <script src="@routes.Assets.versioned("src/login/register/register.js")" type="application/javascript"></script>
    </body>
</html>
