@main("Login", "bg-black") {
    <div class="form-box" id="login-box" ng-controller="RegisterCtrl">
        <div class="header">{{ 'create.your.account' | translate }}</div>
        <form>
            <div class="body bg-gray">
                <div class="form-group">
                    <input type="text" ng-model="formData.name" class="form-control" placeholder="{{ 'user.name' | translate }}"/>
                </div>
                <div class="form-group">
                    <input type="text" ng-model="formData.displayName" class="form-control" placeholder="{{ 'user.display.name' | translate }}"/>
                </div>
                <div class="form-group">
                    <input type="text" ng-model="formData.email" class="form-control" placeholder="{{ 'email' | translate }}"/>
                </div>
                <div class="form-group">
                    <input type="password" ng-model="formData.password" class="form-control" placeholder="{{ 'password' | translate }}"/>
                </div>
                <div class="form-group">
                    <input type="password" ng-model="formData.password2" class="form-control" placeholder="{{ 'password.retype' | translate }}"/>
                </div>
            </div>
            <div class="footer">

                <button type="submit" class="btn bg-olive btn-block" ng-click="register()">{{ 'register' | translate }}</button>
                <a href="login.html" class="text-center">{{ 'alredy.got.an.account' | translate }}</a>
            </div>
        </form>
    </div>
}
